# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Data
data/raw/
data/processed/
data/archive/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db